In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Deputatskiy,RU,2020-05-28 19:12:15,69.30,139.90,30.78,98,100,5.39
1,1,Carnarvon,AU,2020-05-28 19:12:15,-24.87,113.63,64.60,64,0,11.34
2,2,Jamestown,US,2020-05-28 19:09:55,42.10,-79.24,71.01,94,90,5.82
3,3,Victoria,HK,2020-05-28 19:11:21,22.29,114.16,80.01,88,27,10.00
4,4,Albany,US,2020-05-28 19:08:38,42.60,-73.97,80.01,75,70,1.01

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Victoria,HK,2020-05-28 19:11:21,22.29,114.16,80.01,88,27,10.00
4,4,Albany,US,2020-05-28 19:08:38,42.60,-73.97,80.01,75,70,1.01
5,5,Puerto Ayora,EC,2020-05-28 19:12:15,-0.74,-90.35,80.60,69,75,10.29
19,19,Gizo,SB,2020-05-28 19:12:17,-8.10,156.84,82.69,75,100,5.57
26,26,Aswan,EG,2020-05-28 19:12:18,24.09,32.91,86.41,13,0,20.45
31,31,Bridgetown,BB,2020-05-28 19:10:57,13.10,-59.62,84.20,70,40,17.22
61,61,Atuona,PF,2020-05-28 19:12:22,-9.80,-139.03,80.98,73,54,11.86
66,66,Oranjestad,AW,2020-05-28 19:11:47,12.52,-70.03,87.80,70,75,19.46
73,73,Sayat,TM,2020-05-28 19:12:24,38.78,63.88,87.80,23,0,18.34
80,80,Tevaitoa,PF,2020-05-28 19:12:25,-16.78,-151.50,82.17,76,2,15.12

In [17]:
preferred_cities_df.count()

City_ID       128
City          128
Country       128
Date          128
Lat           128
Lng           128
Max Temp      128
Humidity      128
Cloudiness    128
Wind Speed    128
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
3       Victoria      HK     80.01  22.29  114.16
4         Albany      US     80.01  42.60  -73.97
5   Puerto Ayora      EC     80.60  -0.74  -90.35
19          Gizo      SB     82.69  -8.10  156.84
26         Aswan      EG     86.41  24.09   32.91
31    Bridgetown      BB     84.20  13.10  -59.62
61        Atuona      PF     80.98  -9.80 -139.03
66    Oranjestad      AW     87.80  12.52  -70.03
73         Sayat      TM     87.80  38.78   63.88
80      Tevaitoa      PF     82.17 -16.78 -151.50

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Victoria,HK,80.01,22.29,114.16,Mini Hotel Central
4,Albany,US,80.01,42.60,-73.97,
5,Puerto Ayora,EC,80.60,-0.74,-90.35,Finch Bay Galapagos Hotel
19,Gizo,SB,82.69,-8.10,156.84,Imagination Island
26,Aswan,EG,86.41,24.09,32.91,Nuba Nile
31,Bridgetown,BB,84.20,13.10,-59.62,Hilton Barbados Resort
61,Atuona,PF,80.98,-9.80,-139.03,Villa Enata
66,Oranjestad,AW,87.80,12.52,-70.03,Divi Village Golf & Beach Resort
73,Sayat,TM,87.80,38.78,63.88,
80,Tevaitoa,PF,82.17,-16.78,-151.50,Hôtel Raiatea Lodge

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))